<div class="d-flex justify-content-center">
  <div
    *ngIf="dataLoaded == false"
    class="spinner-border"
    style="width: 3rem; height: 3rem"
    role="status"
  >
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<table *ngIf="dataLoaded == true" class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Category Id</th>
      <th scope="col">Product Name</th>
      <th scope="col">Units In stock</th>
      <th scope="col">Unit Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.productId }}</td>
      <td>{{ product.categoryId }}</td>
      <td>{{ product.productName }}</td>
      <td>{{ product.unitsInStock }}</td>
      <td>{{ product.unitPrice }}</td>
    </tr>
  </tbody>
</table>
